section
  .free-space  
  .text-box
    h1 We deliver full-cycle project development
  .flex-container
    img(src='./img/asian-young.png')
    .text-box-mobile
      hr
      h3 We identify your business objectives
      hr
      h3 Set project plans and timelines
      hr
      h3 Design interfaces and write use cases
      hr
      h3 Create the overall look and feel of a product, develop UI and functionality
      hr
      h3
        | Test the finished application, publish it to a store, and provide further support
      hr
  .flex-container
    h3
      | Our Mission is to delight our clients in the quality of our software development service and provide an attractive job opportunity environment for our teams
    h3
      | Our values shape the way we work with our clients, delivering outstanding user experience supported by cutting-edge technologies
  .blue-box.flex-container
    .text-box-mobile.limit-width
      h2 350+
      h3 Compleated projects
    .text-box-mobile.limit-width
      h2 250+
      h3 Qualified employees
    .text-box-mobile.limit-width
      h2 10+
      h3 Countrieswith clients
    .text-box-mobile.limit-width
      h2 12
      h3 We differentiate ourselves by building strategic long-term partnerships with our