section
  .text-box
    h1 Our team is specialized in a wide array of industry verticals
  .flex-container
    .text-box-mobile.limit-width1
      img(src='./img/cash-sharp 1.png')
      h2 Banking &amp; Finance
    .text-box-mobile.limit-width1
      img(src='./img/cart-sharp 2.png')
      h2 Retail &amp; E-Commerce
    .text-box-mobile.limit-width1
      img(src='./img/boat-sharp 1.png')
      h2 Travel &amp; Tourism
    .text-box-mobile.limit-width1
      img(src='./img/school-sharp 1.png')
      h2 Education &amp; E-Learning
  .flex-container
    .text-box-mobile.limit-width1
      img(src='./img/bulb-sharp 1.png')
      h2 Digital &amp; Marketing
    .text-box-mobile.limit-width1
      img(src='./img/subway-sharp 1.png')
      h2 Logistics &amp; Transportation
    .text-box-mobile.limit-width1
      img(src='./img/thumbs-up-sharp 1.png')
      h2 Media &amp; Entertainment
    .text-box-mobile.limit-width1
      img(src='./img/receipt-sharp 1.png')
      h2 Publishing &amp; Advertising
  .flex-container
    .text-box-mobile.limit-width1
      img(src='./img/heart-sharp 1.png')
      h2 Healthcare
    .text-box-mobile.limit-width1
      img(src='./img/hardware-chip-sharp 1.png')
      h2 Technology
    .text-box-mobile.limit-width1
      img(src='./img/cog-sharp 1.png')
      h2 Automotive