doctype html
head
  meta(charset='utf-8')
  title FIGMA LAND
  link(rel='stylesheet' href='_header.scss')
  link(rel='stylesheet' href='./styles/base/_fonts.scss')
  meta(name='viewport' content='width=device-width, initial-scale=1')
section
  header
    img(src='./img/weygar.png')
    .header-section
      .header_item.button
        a(href='#about') About us
      .header_item.button
        a(href='#services') Services
      .header_item.button
        a(href='#how') How we are working
      .header_item.button
        a(href='#industries') Industries
      .header_item.button
        a(href='#contact') Contacts