
body{
  margin: 0;
}
main{
  background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
  padding-bottom: 96px;
  }
  
  header{
    position: absolute;
  }
  
  section{
    background: #252B42;
    padding-top: 81px;
  }

  .website img{
    width: 100%;
  }
  a{
    font-family: roboto-f,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: auto;
    text-decoration: none;
  }
  
  .subscribe{
    color: #EF2779;
  }
  textarea{
    background-color: transparent;
  }
  .contact-cover p{
    font-size: 16px;
  }
  header{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    font-family: roboto-f,sans-serif;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    width: 100%;
  }
  
  .header_section_forlogos{
    display: flex;
    align-items: center;
  }
  .header_section-mobile{
    display: flex;
    align-items: center;
    margin-right: 12px;
  }
  .header_section{
    display: flex;
    align-items: center;
  }
  .header_item{
    padding: 10px;
    font-size: 20px;
  }
  
  .header_item-mobile{
    padding: 30px;
    font-size: 20px;
    margin-left: 5px;
  }
  .aside-item-content{
    display: flex;
    align-items: center;
  }
  .aside-item-content h3{
    text-align: left;
    margin-left: 10px;
    line-height: 33px;
    width: 208px;
  }

  .button{
    cursor: pointer;
    text-align: center;
  }
  
  .input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 35px;
    outline: none;
    height: 54px;
  
    position: static;
  
    background: #EFEFEF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 39px;
  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
  }

  .special-prising-section .input{
    width:255px;
  }

  .mail{
    margin: auto;
  }

  one-more-margin{
    margin: 60px;
  }
  
  .blue-input{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    width: 263px;
    height: 54px;
    background-color: #2091f9;
    border-radius: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    margin-bottom: 113px;
  }
  .red-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 19px 35px;
    outline: none;
    position: static;
    background-color: #EF2779;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 39px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: auto;
    max-width: 218px;
  }

  .red-input-button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 19px 35px;
    outline: none;
    position: static;
    background-color: #EF2779;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 39px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: auto;
    max-width: 88px;
  }
  
  .website {
    box-sizing: border-box;
    display: inline-grid;
    position: relative;
  }
  
  .text-box{
  display: grid;
  }
  
  .text-box-mobile{
    display: grid;
  }

  .list-of-credits{
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (min-width: 900px) {
  main{
    display: flex;
  }
  main img {
  width: 700px;
    }
  main .text-box-mobile{
    display:none;
  }
  .header_section-mobile{
    display: none;
  }
  .header_item-mobile{
    display: none;
  }
  .feature{
    display: flex;
    max-width: 400px;
    text-align: center;
    margin: auto;
    padding-right: 100px;
  }
  .partners-row-pc{
    display: flex;
  }
  .partners-row{
    flex-direction: row;
  }
  .pricing{
    flex-direction: row;
  }
  }
  
  .namefeature h3 {
    color: white;
  }
  
  
  @media screen and (max-width: 900px) {
  main {
    flex-flow: column;
  }
 main .text-box-mobile img {
    margin: auto;
    width: 100%;
    height: 100%;
  }
  .text-box{
      display: none;
      max-width: 466px;
  }
  .header_section{
    display: none;
  }
  h4{
    text-align: center;
  }
  .partners-row-pc{
    display: none;
  }
  
  .partners-row{
    flex-direction: column;
  }
  .feature{
    display: grid;
    max-width: 400px;
    align-items: flex-start;
  }
  .aside-list {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .website{
    display: none;
  }

  .pricing{
    flex-direction: column;
    align-items: center;
  }
  .contact-cover{
    flex-direction: column;
    align-items: center;
  }
  .contact-cover-about{
    flex-direction: column;
    align-items: center;
  }
  }

  .contact-cover{
    display: flex;
    justify-content: center;
    padding: 30px;
  }

  .contact-cover-about{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .page3{
    display: flex;
    flex-flow: column;
  }
  .page3 .dropbox img{
    width: 229px;
    height: 46px;
    margin-bottom: 36px;
  }
  
  .responder{
    display: flex;
    width: 186px;
    height: 55px;
    margin-top: 50px;
    margin: auto;
    justify-content: space-around;
    position: relative;
    margin-bottom: 56px;
  }
  .text-responder{
    flex-direction: column;
  }

  html {
    scroll-behavior: smooth;
  }
  
  
  .aside-list {
    display: flex;
    justify-content: space-between;
    max-width: 869px;
    margin: 80px auto 0;
    flex-wrap: wrap;
  }
  
  .aside-list .aside-list-section {
    margin-left: 10px;
    margin-right: 10px;
  }

  .aside-list-section p{
    line-height: 27px;
  }
  
  .each-partner img{
    width: 122px;
    height: 122px;
  }
  .choosetype{
    display: flex;
    flex-direction: row;
  }

  .contact_form-message{
    width: 328px;
    height: 126px;
    border: 1px solid rgba(66,66,66,.219);
    padding-top: 20px;
    padding-left: 20px;
    resize: none;
  }
  .contact-info{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding:70px;
  }
  .contactus h5{
    color: black;
  }
  .details{
    display: flex;
    flex-direction: row;
    padding: 20px;
  }
  .logos-row{
    display: flex;
    flex-direction: row;
    padding: 10px;
    width:171px;
  }
  .logos-row img{
    width:32px;
  }
  .feature-subtitle{
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin: 20px auto 0;
    max-width: 400px;
    padding-left: 0;
  }

  .testimonials-subtitle{
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin: 20px auto 0;
    width:683px;
    padding-left: 0;
  }
  
  .text-box-mobile h4{
    max-width: 400px;
    font-size: 19px;
    padding-left: 0px;
    text-align: center;
  }
  
  .avatar {
    
    position: static;
    padding: 18px;
    width: 186px;
    height: 58px;
    left: 10px;
    top: 10px;
    -border-radius: 50%;
  }
  
  .solutions-detail .w__preview_text {
      background: #4B5663;
      color: #F6FBF3;
      padding: 15px;
  }
  
  .container {
    padding-left: 0%;
    padding-top:10%;
    padding-bottom: 10px;
    display: flex;
  }
  
  .text-container {
    
    padding-top:20%;
    padding-bottom: 20px;
    max-width: 466px;
  }
  
  .text-container1 {
    padding-bottom: 20px;
    max-width: 400px;
    text-align: center;
    margin: auto;
  }

  .free_price {
    display: flex;
    font-size: 16px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: flex-start;
}

  .feature{
    
    max-width: 400px;
    justify-content: space-between;
  }
  .namefeature{
    display: flex;
    max-width: 300px;
  }
  
  .text-container-mobile{
    padding-left: 0;
    padding-top: 7%;
    padding-bottom: 20px;
    max-width: 400px;
    display: inline-block;
    margin-bottom: 0;
    font-size: 74px;
    line-height: 48px;
    text-align: center;
    max-width: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    padding-bottom: 30px;
  }
  
  .partners_inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: absolute;
  max-width: 869px;
  max-height: 731px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: auto;
  transform: translate(-50%,0);
  justify-content: center;
  }
  
  .partners-row{
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: center;
  }
  .partners-row-pc{
    flex-direction: row;
    align-items: center;
    padding: 0px;
    justify-content: center;
  }
  
  .each-partner{
    display:flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    text-align: center;
    margin: 20px;
  }

  .each-partner h5{
    padding-bottom: 25px;
  }

  .each-partner p{
    width:218px;
    line-height: 27px;
  }
  
  .pricing{
    display: flex;
    justify-content: space-between;
    max-width: 1069px;
    margin: 80px auto 0;
  }
  
  .contactus{
    background: #D6EBFF;
  }

  .prising-section{
  width: 335px;
  height: 410px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  position: relative;
  margin-top: inherit;
  }

  .prising-section:hover{
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
  }

  .prising-section:hover h3{
    color:white;
  }
  .prising-section:hover h4{
    color:white;
  }
  .prising-section:hover h5{
    color:white;
  }
  .prising-section:hover h1{
    color:white;
  }
  .prising-section:hover .blue-input{
    background-color: #EFEFEF;
  }
  .prising-section:hover a{
    color: #EF2779;
  }
  .prising-section h3{
    color: black;
  }

  .prising-section h1{
    color: black;
  }

  .prising-section h4{
    color: black;
  }
  .prising-section h5{
    color: black;
  }
  .prising-section .text-container-mobile{
    text-align: left;
  }
  .prising-section .text-container-mobile h3{
    text-align: left;
  }
  .special-prising-section .text-container-mobile{
    text-align: left;
  }
  .special-prising-section .text-container-mobile h3{
    color: white;
    text-align: left;
  }

  .special-prising-section h1{
    color: white;
  }

  .special-prising-section h4{
    color: white;
  }
  .per-month{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    line-height: 25px;
  }

  .contactus h2{
    color: black;
  }
  .contactus h4{
    color: black;
  }
  .contactus h5{
    color: black;
  }
  
  main{
    display: flex;
  }

  .button-style{
    margin: auto;
    width: 200px;
  }

  .details h5{
    margin: 0 10px;
    width:250px;
  }
  
  h1{
    font-family: roboto-f,sans-serif;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 55px;
    padding-bottom: 10px;
    position: static;
  }
  
  h2{
    font-family: roboto-f,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    padding-bottom: 40px;
  }

  .blank-form{
    font-family: roboto-f,sans-serif;
    width: 400px;
    height: 484px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    position: relative;
    }
  
  .try-for-free{
    font-family: roboto-f,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.1px;
    color:#38A3F1;
  }
  h3{
    font-family: roboto-f,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
  }
  
  h4{
    font-family: roboto-f,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.2px; 
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    letter-spacing: 0.2px;
    position: static;
  }
  
  h5{
  font-family: roboto-f,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  }
  
  p {
    font-family: roboto-f,sans-serif;
    color: #FFFFFF;
    max-width: 300px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.2px;
  }

  .contactus p{
    color: black;
  }
  
  .item {
    text-align: left;
    background-color: green;
    width: 200px;
    height: 200px;
    margin: 15px;
    padding: 15px
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  .my-flex-block{
    margin: 20px;
    display: inline-block;
  }
  .my-flex-container{
    display: flex;
    justify-content: space-between;
  }
  .my-flex-container1{
    display: block;
    position: static;
  }