section#services
  .blue-box.flex-container
    .text-box-mobile.limit-width
      img(src='./img/pie-chart (1) 1.png')
      h2 Feature number one
      h3 We differentiate ourselves by building strategic long-term partnerships with our
    .text-box-mobile.limit-width
      img(src='./img/programmer 1.png')
      h2 Feature number two
      h3 We differentiate ourselves by building strategic long-term partnerships with our
    .text-box-mobile.limit-width
      img(src='./img/vector 1.png')
      h2 Feature number three
      h3 We differentiate ourselves by building strategic long-term partnerships with our