section#how 
  .free-space  
  .text-box
    h1 Mobile and web development for enterprises
  .flex-container
    .text-box-mobile.limit-width
      h2 Mobile Development
      h3 Full-cycle mobile development for iOS, Android and Windows Phone
    .text-box-mobile.limit-width
      h2 Front End and Back End
      h3
        | We differentiate ourselves by building strategic long-term partnerships with our
    .text-box-mobile.limit-width
      h2 Product Design
      h3
        | We differentiate ourselves by building strategic long-term partnerships with our
    .text-box-mobile.limit-width
      h2 Product Testing
      h3
        | We differentiate ourselves by building strategic long-term partnerships with our
  .flex-container
    .text-box-mobile.limit-width
      h2 Service Support
      h3
        | We differentiate ourselves by building strategic long-term partnerships with our
    .text-box-mobile.limit-width
      h2 Product Research
      h3
        | We differentiate ourselves by building strategic long-term partnerships with our
    .text-box-mobile.limit-width
      h2 Outsourcing
      h3
        | We differentiate ourselves by building strategic long-term partnerships with our
  .dark-blue-box
    header
      h1
        | How we
        | are working
      h3.text-box-mobile
        | Create beautiful, fast, and secure software tailored precisely to your business goals
    .flex-container
      .text-box
        .circle-box
          h1 1
        h2.limit-width1 Project Kickoff
      .text-box
        .circle-box
          h1 2
        h2.limit-width1 Ideation and Evaluation
      .text-box
        .circle-box
          h1 3
        h2.limit-width1 Design Process
      .text-box
        .circle-box
          h1 4
        h2.limit-width1 Development Process