section
  .free-space  
  .text-box
    h1 Mobile and web development for enterprises
  .flex-container
    .text-box-mobile.limit-width
      h2 Mobile Development
      h3 Full-cycle mobile development for iOS, Android and Windows Phone
    .text-box-mobile.limit-width
      h2 Front End and Back End
      h3
        | We differentiate ourselves by building strategic long-term partnerships with our
    .text-box-mobile.limit-width
      h2 Product Design
      h3
        | We differentiate ourselves by building strategic long-term partnerships with our
    .text-box-mobile.limit-width
      h2 Product Testing
      h3
        | We differentiate ourselves by building strategic long-term partnerships with our
  .flex-container
    .text-box-mobile.limit-width
      h2 Service Support
      h3
        | We differentiate ourselves by building strategic long-term partnerships with our
    .text-box-mobile.limit-width
      h2 Product Research
      h3
        | We differentiate ourselves by building strategic long-term partnerships with our
    .text-box-mobile.limit-width
      h2 Outsourcing
      h3
        | We differentiate ourselves by building strategic long-term partnerships with our